In [71]:
import pandas as pd


df = pd.read_csv('../data_samples/one_hot_samples.csv')
print(df.head())

print(df['gender'].unique())
print(df['remark'].unique())

0       Male
1     Female
2       Male
3       Male
4     Female
5       Male
6       Male
7       Male
8     Female
9       Male
10      Male
11    Female
12      Male
13      Male
14      Male
15      Male
16    Female
17      Male
18      Male
19    Female
20      Male
21      Male
22      Male
23    Female
24      Male
25      Male
26    Female
27      Male
28      Male
29      Male
30      Male
31    Female
Name: gender, dtype: object
['Male' 'Female']
['Nice' 'Good' 'Great']

In [72]:
df = df.drop(columns=['employe_id'])
df = df, pd.get_dummies(df,columns=['gender', 'remark'], dtype=int)
print(df[1])

    gender_Female  gender_Male  remark_Good  remark_Great  remark_Nice
0               0            1            0             0            1
1               1            0            1             0            0
2               0            1            0             0            1
3               0            1            0             1            0
4               1            0            0             1            0
5               0            1            1             0            0
6               0            1            0             0            1
7               0            1            0             1            0
8               1            0            0             1            0
9               0            1            0             1            0
10              0            1            0             1            0
11              1            0            1             0            0
12              0            1            0             0            1
13              0            1            1             0            0
14              0            1            0             0            1
15              0            1            0             1            0
16              1            0            0             1            0
17              0            1            1             0            0
18              0            1            0             0            1
19              1            0            0             1            0
20              0            1            0             1            0
21              0            1            0             1            0
22              0            1            0             1            0
23              1            0            1             0            0
24              0            1            0             0            1
25              0            1            1             0            0
26              1            0            0             0            1
27              0            1            0             1            0
28              0            1            0             1            0
29              0            1            1             0            0
30              0            1            0             0            1
31              1            0            0             0            1

In [73]:
df = pd.concat(df, axis=1).head()
print(df)

   gender remark  gender_Female  gender_Male  remark_Good  remark_Great  \
0    Male   Nice              0            1            0             0
1  Female   Good              1            0            1             0
2    Male   Nice              0            1            0             0
3    Male  Great              0            1            0             1
4  Female  Great              1            0            0             1

   remark_Nice
0            1
1            0
2            1
3            0
4            0